<p id="notice"><%= notice %></p>
<ul>
	<li>
		name: <%= @note.name%>
	</li>
	<li>
		text: <%= @note.text%>
	</li>	
	<li>
		link: <%= @note.link%>
	</li>
</ul>		
<br/>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
